@import "normalize.css";
$font-size: 1rem;
$font-color: black;
$background-color: linear-gradient(to right, #71B280, #134E5E);
@mixin flex ($justify: center, $align: center, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

html {
    font-family: "Anonymous Pro";
    font-size: 16px;
    @media (max-width: 750px) {
        font-size: 13px;
    }
    @media (max-width: 580px) {
        font-size: 10px;
    }
    @media (max-width: 400px) {
        font-size: 7px;
    }
}

body {
    color: $font-color;
    background: $background-color;
    @include flex();
    &::-webkit-scrollbar {
        width: 0;
    }
}
.wrapper {
    width: 100%;
    height: 100vh;
    max-width: 1480px;
    display: flex;
    @include flex(space-between, center, column);
}
.main {
    width: 100%;
    padding: 2vw 3vw 0;
    @include flex(center, center, column);
    row-gap: 4vh;
}
.section {
    width: 100%;
    @include flex();
}
.text__wrapper {
    width: 100%;
    @include flex();
}
.text-input {
    font-size: 16px;
    width: 70%;
    height: 30vh;
    resize: none;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    color: black;
    transition: .3s;
    &:focus {
        outline: none;
        background-color: rgba($color: #ffffff, $alpha: 0.8);
        box-shadow: 0 0 10px lightblue;
    }
    &::-webkit-scrollbar {
        width: 0;
    }

}
.keyboard__wrapper {
    width: 100%;
    background-color: cadetblue;
    padding: 0.6%;
    @include flex(space-between);
    flex-wrap: wrap;
    column-gap: 0.6%;
    row-gap: 6px;
    border-radius: 0.7rem;
}

.key {
    width: 6%;
    padding-bottom: 6%;
    border-radius: 0.5rem;
    position: relative;
    background: rgba($color: #000000, $alpha: 0.4);
    transition: .3s;
    cursor: pointer;
    user-select: none;
    &:active, &.active {
        box-shadow: inset 0 0 5px black;
        background: rgba($color: #000000, $alpha: 0.7);
        width: 5.5%;
        padding-bottom: 5.5%;
        margin: 0.25%;
        .key__value {
            font-size: 0.93rem;
        }   
    }
}
.key__wide {
    width: 12.6%;
    &:active, &.active {
        width: 12.1%;
    }
}
.key__shift {
    width: 16.7%;
    &:active, &.active {
        width: 16.2%;
    }
}
.key__space {
    width: 34%;
    &:active, &.active {
        width: 33.5%;
    }
}
.key__enter {
    width: 12.6%;
    &:active, &.active {
        width: 12.1%;
    }
}
.key__capslock {
    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 5%;
        padding-top: 5%;
        border-radius: 50%;
        background: rgba($color: #ffffff, $alpha: .5);
        left: 5.587%;
        top: 11.77%;
        z-index: 10;
        transition: .3s;
    }
    &.on::before {
        background: greenyellow;
    }
    .key__value {
        position: absolute;
        color: antiquewhite;
        left: 50%;
        top: 50%;
        transform: translate(-50% -50%);
        font-size: 1rem;
        transition: .3s;
        padding-right: 10px;
    }
}

.key__slim {
    padding-bottom: 3%;
    &:active, &.active {
        padding-bottom: 2.5%;
    }
    &:nth-child(1){
        padding-bottom: 50%;
        width: 100%;
        position: absolute;
        top: 0;
        &:active, &.active {
            padding-bottom: 45%;
            width: 95%;
        }
    }
    &:nth-child(2) {
        padding-bottom: 50%;
        width: 100%;
        position: absolute;
        bottom: 0;
        &:active, &.active {
            padding-bottom: 45%;
            width: 95%;
        }
    }
}

.key__value {
    position: absolute;
    color: antiquewhite;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    transition: .3s;
}

.central-btns-wrapper {
    @include flex(space-between, center, column);
    width: 6%;
    padding-top: 6%;
    position: relative;
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    width: 100%;
    padding: 0 4vw;
    @include flex(space-between);
    color: antiquewhite;
    .link {
        color: inherit;
        transition: .3s;
        &:hover {
            color: orange;
        }
    }
}